<div class="formulario">
    <img src="https://c0.wallpaperflare.com/preview/320/698/332/person-holding-airplane-window.jpg" alt="login_image" class="formulario_image">
    <form action="" class="formulario_login">
        <img src="../../../assets/images/logo.png" alt="" class="formulario_login_logo">
        <h2>Register</h2>
        <div class="formulario_login_username">
            <label for="username" class="formulario_login_username_text">Name</label>
            <input type="text" class="formulario_login_username_camp">
        </div>
        <div class="formulario_login_username">
            <label for="username" class="formulario_login_username_text">Indentification</label>
            <input type="text" class="formulario_login_username_camp">
        </div>
        <div class="formulario_login_username">
            <label for="username" class="formulario_login_username_text">Email</label>
            <input type="text" class="formulario_login_username_camp">
        </div>
        <div class="formulario_login_password">
            <label for="password" class="formulario_login_password_digits">Password</label>
            <input type="text" class="formulario_login_password_camp">
        </div>
        <div class="formulario_login_password">
            <label for="password" class="formulario_login_password_digits">Repeat Password</label>
            <input type="text" class="formulario_login_password_camp">
        </div>
        <div class="formulario_login_button">
            <input type="submit" value="Iniciar Sesión" class="formulario_login_button_btn">
        </div>
    </form>
</div>