<div class="formulario">
    <img src="https://c0.wallpaperflare.com/preview/320/698/332/person-holding-airplane-window.jpg" alt="login_image"
        class="formulario_image">
    <form action="" class="formulario_register">
        <img src="../../../assets/images/logo.png" alt="" class="formulario_register_logo">
        <h2>Register</h2>
        <div class="formulario_register_name">
            <label for="name" class="formulario_register_name_text">Name</label>
            <input type="text" class="formulario_register_username_camp">
        </div>
        <div class="formulario_register_identification">
            <label for="Indentification" class="formulario_register_identification_text">Indentification</label>
            <input type="text" class="formulario_register_username_camp">
        </div>
        <div class="formulario_register_email">
            <label for="email" class="formulario_register_email_text">Email</label>
            <input type="text" class="formulario_register_username_camp">
        </div>
        <div class="formulario_register_password">
            <label for="password" class="formulario_register_password_digits">Password</label>
            <input type="text" class="formulario_register_password_camp">
        </div>
        <div class="formulario_register_repeatpassword">
            <label for="repeatPassword" class="formulario_register_repeatpassword_digits">Repeat Password</label>
            <input type="text" class="formulario_register_password_camp">
        </div>
        <div class="formulario_register_button">
            <input type="submit" value="Sign Up" class="formulario_register_button_btn">
        </div>
    </form>
</div>