.header{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: static;
    background-color: black;
}
.header__logo{
    img{
        width: 150px;
    }
}
.header__nav-list{
    display: flex;
    gap: 20px;
}
.header__nav-item{
    list-style: none;
    a{
        color: violet;
        text-decoration: none;
    }
}
.header__nav-item--nav{
    list-style: none;
    a{
        text-decoration: none;
        list-style: none;
        color: red;
        font-weight: bold;
    }
}