<header class="header">
    <div class="header__logo">
        <img src="../../../assets/images/logo.png" alt="">
    </div>
    <nav class="header__nav">
        <ul class="header__nav-list">
            <li class="header__nav-item"><a href="/destinations" class="header__nav-link">Start</a></li>
            <li class="header__nav-item"><a href="/about" class="header__nav-link">About us</a></li>
            <li class="header__nav-item"><a href="/contact" class="header__nav-link">Contact</a></li>
            <li class="header__nav-item--nav"><a href="/register" class="header__nav-link">Sign Up</a></li>
            <li class="header__nav-item--nav"><a href="/login" class="header__nav-link">Log In</a></li>
        </ul>
    </nav>
</header>