<img src="https://images4.alphacoders.com/790/thumb-1920-790953.jpg" alt="">
<div class="container">
    <div class="container_info">
        <h1>Midnight Express</h1>
        <p>"Midnight Express" captures the essence of nighttime travel, speed, and a hint of mystery, ideal for an
            airline
            website offering efficient and memorable flights that operate during the late hours.</p>
            <div class="container_info_button">
                <a href="/about"><button>Read More</button></a>
            </div>
    </div>
</div>