<div class="forgotPasword">
    <form action="" class="forgotPasword_formulario">
        <img src="../../../assets/images/logo.png" alt="" class="forgotPasword_formulario_image">
        <div class="forgotPasword_formulario_box">
            <label for="">Username</label>
            <input type="text" class="forgotPasword_formulario_box_input">
        </div>
        <div class="forgotPasword_formulario_box">
            <label for="">Email</label>
            <input type="text" class="forgotPasword_formulario_box_input">
        </div>
        <div class="forgotPasword_formulario_box">
            <label for="">New Password</label>
            <input type="text" class="forgotPasword_formulario_box_input">
        </div>
        <div class="forgotPasword_formulario_box">
            <label for="">Repeat Password</label>
            <input type="text" class="forgotPasword_formulario_box_input">
        </div>
        <div class="forgotPasword_formulario_button">
            <input type="submit" value="Password restaured" class="forgotPasword_formulario_button_btn">
        </div>
    </form>
</div>